* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
/* common styles */

.noto-serif-font,
body {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.inter-font,
p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: rgba(0, 0, 0, 0.50);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

span {
    color: rgba(233, 90, 8, 1.00);
}

.btn {
    height: 50px;
    background-color: rgba(233, 90, 8, 1.00);
    color: white;
    padding: 19px 80px;
    border: none;
    font-weight: 600;
    width: 100%;
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.website-logo img {
    width: 100%;
}

.nav-link {
    display: flex;
    gap: 40px;
}

.nav-link li {
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    color: black;
}

#shop,
#about-us {
    color: rgba(137, 135, 161, 1);
}

#home {
    font-weight: bold;
}

/* banner section  */
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    align-items: last baseline;
}

.banner-content {
    max-width: 50%;
}

.banner-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.banner-image {
    position: relative;
    top: 4px;

}

.banner-image img {
    width: 100%;
    display: block;
}

/* our plants section  */
.our-plants {
    margin-top: 120px;
    margin-bottom: 60px;
}

.heading-content {
    text-align: center;
}

.heading-title {
    font-size: 3rem;
    font-weight: bold;
}

.heading-content p {
    max-width: 600px;
    margin: 0 auto;
}

/* card styles */
.primary-card-image img {
    width: 100%;
}

.plants-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    text-align: center;
    margin-top: 50px;
}

.primary-card-content h3 {
    margin: 10px 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.primary-card-content h2 {
    font-family: "Inter", sans-serif;
}

.primary-card-content button {
    margin-top: 10px;
}

/* plants lover styles */
.plants-lover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 120px;
}

.plants-lover-content {
    max-width: 540px;
}

.plants-lover-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.plants-lover-content p {
    margin-top: 20px;
    font-size: 1.5rem;
}

.plants-lover-content ul {
    padding-left: 30px;
}

.plant-lover-image>img {
    width: 100%;
}

/* badge  */
.badge {
    position: relative;
}

.badge img {
    width: 45%;
    position: absolute;
    right: -100px;
    top: -100px;

}

/* responsive for mobile device */
@media screen and (max-width: 576px) {
    .container {
        margin: 0 16px;
    }

    /* nav section  */
    .navbar {
        margin-top: 20px;
    }

    .website-logo img {
        width: 50%;
    }

    #shop,
    #about-us,
    #home {
        display: none;
    }

    /* banner section  */
    .banner {
        flex-direction: column-reverse;
        gap: 25px;
    }

    .banner-image {
        left: 20px;
    }

    .banner-content h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .banner-content {
        max-width: 100%;
    }

    /* card ssection  */
    .plants-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .primary-card-content button {
        padding: 19px 30px;
    }

    /* plants lover section  */
    .plants-lover {
        flex-direction: column;
        gap: 30px;
    }

    .plants-lover-content h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .plants-lover-content p {
        margin-top: 20px;
        font-size: 1rem;
    }

    .badge{
        display: none;
    }
}